In [3]:
%%capture
!pip install pyspark

In [4]:
from sklearn.preprocessing import OneHotEncoder

In [5]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('homework2').getOrCreate()

In [6]:
import numpy as np

In [129]:
df4 = spark.read.csv('/content/ITI_data.csv', header=True)
df4.show(10)

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 10 rows

In [130]:
d=df4.select("Cruise_line").rdd.map(lambda x : x[0]).collect()

In [74]:
enc = OneHotEncoder(handle_unknown='ignore')

In [75]:
A = np.array(list(d)).reshape(-1,1)

In [76]:
data_encoded=enc.fit_transform( A).toarray()
#data_encoded=data_encoded.tolist()

In [77]:
cols=enc.get_feature_names_out()
cols=cols.tolist()

In [131]:
import pandas as pd
df = pd.DataFrame(data_encoded,columns =cols)
df.head(10)

,x0_Azamara,x0_Carnival,x0_Celebrity,x0_Costa,x0_Crystal,x0_Cunard,x0_Disney,x0_Holland_American,x0_MSC,x0_Norwegian,x0_Oceania,x0_Orient,x0_P&O,x0_Princess,x0_Regent_Seven_Seas,x0_Royal_Caribbean,x0_Seabourn,x0_Silversea,x0_Star,x0_Windstar
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [132]:
deptDF = spark.createDataFrame(df)

In [133]:
deptDF.show(10)

+----------+-----------+------------+--------+----------+---------+---------+-------------------+------+------------+----------+---------+------+-----------+--------------------+------------------+-----------+------------+-------+-----------+
|x0_Azamara|x0_Carnival|x0_Celebrity|x0_Costa|x0_Crystal|x0_Cunard|x0_Disney|x0_Holland_American|x0_MSC|x0_Norwegian|x0_Oceania|x0_Orient|x0_P&O|x0_Princess|x0_Regent_Seven_Seas|x0_Royal_Caribbean|x0_Seabourn|x0_Silversea|x0_Star|x0_Windstar|
+----------+-----------+------------+--------+----------+---------+---------+-------------------+------+------------+----------+---------+------+-----------+--------------------+------------------+-----------+------------+-------+-----------+
|       1.0|        0.0|         0.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|
|       1.0|        0.0|         0.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|
|       0.0|        1.0|         0.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|
|       0.0|        1.0|         0.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|
|       0.0|        1.0|         0.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|
|       0.0|        1.0|         0.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|
|       0.0|        1.0|         0.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|
|       0.0|        1.0|         0.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|
|       0.0|        1.0|         0.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|
|       0.0|        1.0|         0.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|
+----------+-----------+------------+--------+----------+---------+---------+-------------------+------+------------+----------+---------+------+-----------+--------------------+------------------+-----------+------------+-------+-----------+
only showing top 10 rows

In [81]:

df4.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Tonnage: string (nullable = true)
 |-- passengers: string (nullable = true)
 |-- length: string (nullable = true)
 |-- cabins: string (nullable = true)
 |-- passenger_density: string (nullable = true)
 |-- crew: string (nullable = true)

In [152]:
df4=df4.drop("Ship_name")
df4=df4.drop("Cruise_line")

In [82]:
from pyspark.sql.functions import lit

In [83]:
for column in [column for column in deptDF.columns
               if column not in df4.columns]:
    df4 = df4.withColumn(column, lit(None))

In [149]:
from pyspark.sql.functions import monotonically_increasing_id 
df4 = df4.select("*").withColumn("id", monotonically_increasing_id())

In [150]:
deptDF=deptDF.select("*").withColumn("id", monotonically_increasing_id())

In [84]:
df4=df4.drop("id")

In [155]:
#merge two data frames

In [153]:
df4=df4.join(deptDF, df4.id ==deptDF.id).select(df4["*"],deptDF["*"])

In [156]:
df4=df4.drop("id")

In [157]:
df4.show(10)

+---+------------------+----------+------+------+-----------------+----+----------+-----------+------------+--------+----------+---------+---------+-------------------+------+------------+----------+---------+------+-----------+--------------------+------------------+-----------+------------+-------+-----------+
|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|x0_Azamara|x0_Carnival|x0_Celebrity|x0_Costa|x0_Crystal|x0_Cunard|x0_Disney|x0_Holland_American|x0_MSC|x0_Norwegian|x0_Oceania|x0_Orient|x0_P&O|x0_Princess|x0_Regent_Seven_Seas|x0_Royal_Caribbean|x0_Seabourn|x0_Silversea|x0_Star|x0_Windstar|
+---+------------------+----------+------+------+-----------------+----+----------+-----------+------------+--------+----------+---------+---------+-------------------+------+------------+----------+---------+------+-----------+--------------------+------------------+-----------+------------+-------+-----------+
|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|       1.0|        0.0|         0.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|
|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|       1.0|        0.0|         0.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|
| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|       0.0|        1.0|         0.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|
| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|       0.0|        1.0|         0.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|
| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|       0.0|        1.0|         0.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|
| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|       0.0|        1.0|         0.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|
| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|       0.0|        1.0|         0.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|
| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|       0.0|        1.0|         0.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|
| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|       0.0|        1.0|         0.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|
|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|       0.0|        1.0|         0.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|
+---+------------------+----------+------+------+-----------------+----+----------+-----------+------------+--------+----------+---------+---------+-------------------+------+------------+----------+---------+------+-----------+--------------------+------------------+-----------+------------+-------+-----------+
only showing top 10 rows

In [158]:
from pyspark.ml.feature import VectorAssembler

In [159]:
df4 = df4.withColumn("Age",   df4["Age"]
                                  .cast('int'))

In [160]:
df4 = df4.withColumn("Tonnage",   df4["Tonnage"]
                                  .cast('float'))

In [161]:
df4 = df4.withColumn("passengers",   df4["passengers"]
                                  .cast('float'))

In [162]:
df4 = df4.withColumn("length",   df4["length"]
                                  .cast('float'))

In [163]:
df4 = df4.withColumn("cabins",   df4["cabins"]
                                  .cast('float'))

In [164]:
df4 = df4.withColumn("passenger_density",   df4["passenger_density"]
                                  .cast('float'))

In [165]:
df4 = df4.withColumn("crew",   df4["crew"]
                                  .cast('float'))

In [166]:
df4.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Tonnage: float (nullable = true)
 |-- passengers: float (nullable = true)
 |-- length: float (nullable = true)
 |-- cabins: float (nullable = true)
 |-- passenger_density: float (nullable = true)
 |-- crew: float (nullable = true)
 |-- x0_Azamara: double (nullable = true)
 |-- x0_Carnival: double (nullable = true)
 |-- x0_Celebrity: double (nullable = true)
 |-- x0_Costa: double (nullable = true)
 |-- x0_Crystal: double (nullable = true)
 |-- x0_Cunard: double (nullable = true)
 |-- x0_Disney: double (nullable = true)
 |-- x0_Holland_American: double (nullable = true)
 |-- x0_MSC: double (nullable = true)
 |-- x0_Norwegian: double (nullable = true)
 |-- x0_Oceania: double (nullable = true)
 |-- x0_Orient: double (nullable = true)
 |-- x0_P&O: double (nullable = true)
 |-- x0_Princess: double (nullable = true)
 |-- x0_Regent_Seven_Seas: double (nullable = true)
 |-- x0_Royal_Caribbean: double (nullable = true)
 |-- x0_Seabourn: double (nullable = true)
 |-- x0_Silversea: double (nullable = true)
 |-- x0_Star: double (nullable = true)
 |-- x0_Windstar: double (nullable = true)

In [96]:
s=df4.schema

In [167]:
input_f=["Age","Tonnage","length","cabins","passenger_density","crew"]+cols

In [168]:
vecAssembler = VectorAssembler(inputCols=input_f,outputCol='features')

In [169]:
from sklearn.model_selection import train_test_split

In [170]:
#x=df4.select(input_f)

In [186]:
#x.show(20)

In [172]:
y=df4.select("passengers")

In [187]:
train_df,test_df=train_test_split(df4.toPandas(), test_size=0.20, random_state=42)

In [111]:
from pyspark.sql.types import StructType, StructField, StringType,IntegerType,FloatType

In [113]:
from pyspark.sql.types import *

In [120]:
s_x=StructType([StructField('Age', IntegerType(), True), StructField('Tonnage', FloatType(), True), StructField('length', FloatType(), True), StructField('cabins', FloatType(), True), StructField('passenger_density', FloatType(), True), StructField('crew', FloatType(), True), StructField('x0_Azamara', IntegerType(), True), StructField('x0_Carnival', IntegerType(), True), StructField('x0_Celebrity',IntegerType(), True), StructField('x0_Costa',IntegerType(), True), StructField('x0_Crystal', IntegerType(), True), StructField('x0_Cunard', IntegerType(), True), StructField('x0_Disney', IntegerType(), True), StructField('x0_Holland_American', IntegerType(), True), StructField('x0_MSC', IntegerType(), True), StructField('x0_Norwegian', IntegerType(), True), StructField('x0_Oceania', IntegerType(), True), StructField('x0_Orient',IntegerType(), True), StructField('x0_P&O', IntegerType(), True), StructField('x0_Princess', IntegerType(), True), StructField('x0_Regent_Seven_Seas', IntegerType(), True), StructField('x0_Royal_Caribbean', IntegerType(), True), StructField('x0_Seabourn', IntegerType(), True), StructField('x0_Silversea',IntegerType(), True), StructField('x0_Star',IntegerType(), True), StructField('x0_Windstar',IntegerType(), True)])

In [115]:
s_y=StructType([StructField('passengers', FloatType(), True)])

In [188]:
train_x=spark.createDataFrame(train_df)#schema=s_x
test_x=spark.createDataFrame(test_df)
'''
train_y=spark.createDataFrame(train_target)
test_y=spark.createDataFrame(test_target)
'''

'\ntrain_y=spark.createDataFrame(train_target)\ntest_y=spark.createDataFrame(test_target)\n'

In [189]:
train_x = vecAssembler.transform(train_x)

In [190]:
test_x = vecAssembler.transform(test_x)

In [191]:
test_x.show(10)

+---+------------------+------------------+------------------+------------------+------------------+------------------+----------+-----------+------------+--------+----------+---------+---------+-------------------+------+------------+----------+---------+------+-----------+--------------------+------------------+-----------+------------+-------+-----------+--------------------+
|Age|           Tonnage|        passengers|            length|            cabins| passenger_density|              crew|x0_Azamara|x0_Carnival|x0_Celebrity|x0_Costa|x0_Crystal|x0_Cunard|x0_Disney|x0_Holland_American|x0_MSC|x0_Norwegian|x0_Oceania|x0_Orient|x0_P&O|x0_Princess|x0_Regent_Seven_Seas|x0_Royal_Caribbean|x0_Seabourn|x0_Silversea|x0_Star|x0_Windstar|            features|
+---+------------------+------------------+------------------+------------------+------------------+------------------+----------+-----------+------------+--------+----------+---------+---------+-------------------+------+------------+----------+---------+------+-----------+--------------------+------------------+-----------+------------+-------+-----------+--------------------+
|  5|             122.0|              28.5|10.329999923706055| 6.869999885559082| 34.56999969482422| 6.699999809265137|       0.0|        0.0|         1.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|(26,[0,1,2,3,4,5,...|
|  6|30.277000427246094| 6.940000057220459| 5.940000057220459| 3.549999952316284| 42.63999938964844| 3.549999952316284|       1.0|        0.0|         0.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|(26,[0,1,2,3,4,5,...|
|  9|             110.0|29.739999771118164| 9.520000457763672|14.869999885559082|  36.9900016784668|11.600000381469727|       0.0|        1.0|         0.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|(26,[0,1,2,3,4,5,...|
| 12|              91.0| 20.31999969482422| 9.649999618530273|              9.75|44.779998779296875| 9.989999771118164|       0.0|        0.0|         1.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|(26,[0,1,2,3,4,5,...|
| 12|              88.5|21.239999771118164| 9.630000114440918|11.619999885559082| 41.66999816894531| 9.300000190734863|       0.0|        1.0|         0.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|(26,[0,1,2,3,4,5,...|
| 16| 77.71299743652344| 18.81999969482422|  8.65999984741211| 9.350000381469727|41.290000915527344|  9.09000015258789|       0.0|        0.0|         1.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|(26,[0,1,2,3,4,5,...|
| 10|             110.0|29.739999771118164| 9.510000228881836|14.869999885559082|  36.9900016784668|11.600000381469727|       0.0|        1.0|         0.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|(26,[0,1,2,3,4,5,...|
|  7|  89.5999984741211|              25.5| 9.609999656677246|             12.75| 35.13999938964844| 9.869999885559082|       0.0|        0.0|         0.0|     0.0|       0.0|      0.0|      0.0|                0.0|   1.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|(26,[0,1,2,3,4,5,...|
| 17|101.35299682617188|26.420000076293945| 8.920000076293945|13.210000038146973| 38.36000061035156|              10.0|       0.0|        1.0|         0.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|(26,[0,1,2,3,4,5,...|
| 18| 70.36699676513672|20.520000457763672| 8.550000190734863|10.199999809265137|34.290000915527344| 9.199999809265137|       0.0|        1.0|         0.0|     0.0|       0.0|      0.0|      0.0|                0.0|   0.0|         0.0|       0.0|      0.0|   0.0|        0.0|                 0.0|               0.0|        0.0|         0.0|    0.0|        0.0|(26,[0,1,2,3,4,5,...|
+---+------------------+------------------+------------------+------------------+------------------+------------------+----------+-----------+------------+--------+----------+---------+---------+-------------------+------+------------+----------+---------+------+-----------+--------------------+------------------+-----------+------------+-------+-----------+--------------------+
only showing top 10 rows

In [181]:
#Create a Linear Regression Model

In [192]:
from pyspark.ml.regression import LinearRegression

In [193]:
mdel_trans = LinearRegression(featuresCol='features',labelCol='passengers',predictionCol='prediction')

In [194]:
Model = mdel_trans.fit(train_x)

In [196]:
predict_test=Model.transform(test_x)

In [198]:
predict_test.select(["features",'passengers','prediction']).show()

+--------------------+------------------+------------------+
|            features|        passengers|        prediction|
+--------------------+------------------+------------------+
|(26,[0,1,2,3,4,5,...|              28.5|24.477506348549944|
|(26,[0,1,2,3,4,5,...| 6.940000057220459| 6.939998185124719|
|(26,[0,1,2,3,4,5,...|29.739999771118164|31.195338156000552|
|(26,[0,1,2,3,4,5,...| 20.31999969482422|20.079241020168073|
|(26,[0,1,2,3,4,5,...|21.239999771118164| 22.95284955712573|
|(26,[0,1,2,3,4,5,...| 18.81999969482422|18.740194601702854|
|(26,[0,1,2,3,4,5,...|29.739999771118164| 31.21336989565038|
|(26,[0,1,2,3,4,5,...|              25.5|  26.4430255449564|
|(26,[0,1,2,3,4,5,...|26.420000076293945| 27.85482460176948|
|(26,[0,1,2,3,4,5,...|20.520000457763672|20.507297191064808|
|(26,[0,1,2,3,4,5,...|              20.0|19.624789067364624|
|(26,[0,1,2,3,4,5,...| 13.65999984741211|13.308381855849717|
|(26,[0,1,2,3,4,5,...| 39.59000015258789|  37.5191663103093|
|(26,[0,1,2,3,4,5,...|21.139999389648438|21.899415609929108|
|(26,[0,1,2,3,4,5,...|15.600000381469727|15.177965759399292|
|(26,[0,1,2,3,4,5,...|10.800000190734863|10.271864271342466|
+--------------------+------------------+------------------+

In [199]:
from pyspark.ml.evaluation import RegressionEvaluator

In [203]:
r2 = RegressionEvaluator(predictionCol='prediction',
                                         labelCol='passengers',
                                         metricName='r2').evaluate(predict_test)
print(f"R2 is {r2}")

R2 is 0.9675338400800088

In [200]:
regressionEvaluator = RegressionEvaluator(predictionCol='prediction',
                                         labelCol='passengers',
                                         metricName='rmse')

In [201]:
rmse = regressionEvaluator.evaluate(predict_test)

In [202]:
print(f"RMSE is {rmse:.1f}")

RMSE is 1.4

In [204]:
#Creating a Pipeline

In [205]:
from pyspark.ml import Pipeline

In [213]:
pipeline = Pipeline(stages=[vecAssembler,mdel_trans])

In [214]:
pipelineModel = pipeline.fit(df4)

In [222]:
dd=df4.limit(20)

In [223]:
predDF = pipelineModel.transform(dd)

In [225]:
predDF.select(["features",'passengers','prediction']).show()

+--------------------+----------+------------------+
|            features|passengers|        prediction|
+--------------------+----------+------------------+
|(26,[0,1,2,3,4,5,...|      6.94|6.9400001374724365|
|(26,[0,1,2,3,4,5,...|      6.94|6.9400001374724365|
|(26,[0,1,2,3,4,5,...|     14.86| 14.54391631533356|
|(26,[0,1,2,3,4,5,...|     29.74|29.928552473432983|
|(26,[0,1,2,3,4,5,...|     26.42|27.296338124639693|
|(26,[0,1,2,3,4,5,...|     20.52|20.322868255443467|
|(26,[0,1,2,3,4,5,...|     20.52| 20.22445371552513|
|(26,[0,1,2,3,4,5,...|     20.56|20.375156319249243|
|(26,[0,1,2,3,4,5,...|     20.52|20.280690595478468|
|(26,[0,1,2,3,4,5,...|      37.0|33.205564896564525|
|(26,[0,1,2,3,4,5,...|     29.74|30.669381127380888|
|(26,[0,1,2,3,4,5,...|     14.52|14.239695239606109|
|(26,[0,1,2,3,4,5,...|     20.52|20.266631375490128|
|(26,[0,1,2,3,4,5,...|     20.52|20.252572155501795|
|(26,[0,1,2,3,4,5,...|     21.24|21.468854181019815|
|(26,[0,1,2,3,4,5,...|     29.74|30.641262687404215|
|(26,[0,1,2,3,4,5,...|     21.24|21.402094617675765|
|(26,[0,1,2,3,4,5,...|     20.52| 20.22445371552513|
|(26,[0,1,2,3,4,5,...|     21.24| 22.40097443110359|
|(26,[0,1,2,3,4,5,...|     20.52|  20.2947498154668|
+--------------------+----------+------------------+